/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
blockquote,
figure,
fieldset,
legend,
button,
input,
textarea,
select {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

/* Add more CSS reset rules if needed */

/* Your custom styles go here */



header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
#game-info {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    align-items: center;
    flex-direction: column;
}
#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    background: #333;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.cell {
    /* center the cell content */
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial;
    font-size: 3rem;
    font-weight: bold;
    background: white;
}